<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usuarios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf="chracter">
          <ion-card class="ion-text-center">
            <ion-card-content>
              <img src="{{chracter.image}}" alt="">
              <ion-card-title>
                {{chracter.name}}
              </ion-card-title>
            </ion-card-content>

          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>